.container{
    max-width: 800px;
    margin: 0 auto;

}

h1{
    text-align: center;
}

table{
    width: 100%;

}

table th{
    background: blueviolet;
    height: 25px;

}


table tr td{
    text-align: center;
}